.case-selection-container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    animation: slideInUp 1.5s ease-in-out;
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .title {
    font-size: 56px;
    color: #F1D3B9;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    animation: fadeInTitle 2s ease-in-out;
  }
  
  @keyframes fadeInTitle {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .main-content {
    margin: 20px 0;
  }
  
  .case-list {
    list-style-type: none;
    padding: 0;
  }
  
  .case-item {
    margin: 10px 0;
  }
  
  .case-button {
    background-color: #F1D3B9;
    color: #241911;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: bounceInButtons 1.5s 0.5s ease-in-out forwards;
  }
  
  @keyframes bounceInButtons {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .case-button:hover {
    background-color: #ddb490;
    transform: translateY(-3px);
  }
  